hr{
    margin: 100px 70px 0px 70px;
}
section.first_section{
    padding: 30px 100px 0px 100px;
    display: flex;
    justify-content:space-between;
}
.col_1 article{
    cursor:pointer;
}
.col_2 article{
    cursor:pointer;
}
.col_3 article{
    cursor:pointer;
}
section.second_section{
    padding: 30px 100px 30px 100px;
}
section.second_section div{
    border: 1px rgba(0, 0, 0, 0) solid;
    border-radius: 2px;
    background-color: #b817f22f;
    padding: 10px 20px 10px 20px;
}