/* styling for products page */
/* haircare section */

:root{
    --brdColor: rgb(206, 128, 10);
    --btnColor: #B917F2;
}
/* hair care section */
section.sec_1 h1{
    margin-left: 2rem;
    color: white;
}
.hairCare{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}
.hairCare_col_A{
    display: flex;
    flex-direction: row;
}
.hairCare_1{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.hairCare_1 img{
    width: 250px;
    height: 200px;
    border: solid var(--brdColor);
}
.spn_1{
    text-align: justify;
}
.prodBtn_1{
    background: var(--btnColor);
    color: white;
    padding: 5px 0px;
    border-radius: 5px;
    border: 1px thin black;
    cursor: pointer;
    margin-top: 20px;
}
.hairCare_2{
    display: flex;
    flex-direction: column; 
}
.hairCare_2 img{
    width: 250px;
    height: 200px;
    border: solid var(--brdColor);
}
.spn_2{
    text-align: justify;
}
.prodBtn_2{
    background: var(--btnColor);
    color: white;
    padding: 5px 0px;
    border-radius: 5px;
    border: 1px thin black;
    cursor: pointer;
    margin-top: 20px;
}
.hairCare_col_B{
    display: flex;
    flex-direction: row;
}
.hairCare_3{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.hairCare_3 img{
    width: 250px;
    height: 200px;
    border: solid var(--brdColor);
}
.spn_3{
    text-align: justify;
}
.prodBtn_3{
    background: var(--btnColor);
    color: white;
    padding: 5px 0px;
    border-radius: 5px;
    border: 1px thin black;
    cursor: pointer;
    margin-top: 20px;
}
.hairCare_4{
    display: flex;
    flex-direction: column;
}
.hairCare_4 img{
    width: 250px;
    height: 200px;
    border: solid var(--brdColor);
}
.spn_4{
    text-align: justify;
}
.prodBtn_4{
    background: var(--btnColor);
    color: white;
    padding: 5px 0px;
    border-radius: 5px;
    border: 1px thin black;
    cursor: pointer;
    margin-top: 20px;
}
/* mobile version */
@media only screen and (max-width: 600px) {
   /* hair care section */
    section.sec_1 h1{
        margin-left: 2rem;
        color: white;
    }
    .hairCare{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 20px;
    }
    .hairCare_col_A{
        display: flex;
        flex-direction: row;
        padding: 0px 0px 50px;
        color: white;
    }
    .hairCare_1{
        display: flex;
        flex-direction: column;
        margin-right: 30px;
    }
    .hairCare_1 img{
        width: 150px;
        height: 150px;
        border: solid var(--brdColor);
    }
    .spn_1{
        text-align: center;
    }
    .prodBtn_1{
        background: var(--btnColor);
        color: white;
        padding: 5px 0px;
        border-radius: 5px;
        border: 1px thin black;
        cursor: pointer;
        margin-top: 20px;
    }
    .hairCare_2{
        display: flex;
        flex-direction: column; 
    }
    .hairCare_2 img{
        width: 150px;
        height: 150px;
        border: solid var(--brdColor);
    }
    .spn_2{
        text-align: justify;
    }
    .prodBtn_2{
        background: var(--btnColor);
        color: white;
        padding: 5px 0px;
        border-radius: 5px;
        border: 1px thin black;
        cursor: pointer;
        margin-top: 20px;
    }
    .hairCare_col_B{
        display: flex;
        flex-direction: row;
        padding: 0px 0px 50px;
    }
    .hairCare_3{
        display: flex;
        flex-direction: column;
        margin-right: 30px;
    }
    .hairCare_3 img{
        width: 150px;
        height: 150px;
        border: solid var(--brdColor);
    }
    .spn_3{
        text-align: justify;
    }
    .prodBtn_3{
        background: var(--btnColor);
        color: white;
        padding: 5px 0px;
        border-radius: 5px;
        border: 1px thin black;
        cursor: pointer;
        margin-top: 20px;
    }
    .hairCare_4{
        display: flex;
        flex-direction: column;
    }
    .hairCare_4 img{
        width: 150px;
        height: 150px;
        border: solid var(--brdColor);
    }
    .spn_4{
        text-align: justify;
    }
    .prodBtn_4{
        background: var(--btnColor);
        color: white;
        padding: 5px 0px;
        border-radius: 5px;
        border: 1px thin black;
        cursor: pointer;
        margin-top: 20px;
    }
}