/* styling for products page */

.productComponent{
    padding: 0px 20px;
}
.product{
    margin: 20px auto;
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    justify-content:space-between;
    padding: 50px 0px;
    background-color: whitesmoke;
    border-radius: 5px;
}
.productsFrame{
    border-radius: 5px;
    background-color: #B917F2;
    width: 15em;
    padding: 30px 15px;
    color: white;
    margin: 30px 10px;
}
.productName{
    color: gold;
    font-weight: 700;
}
.productImg{
    width: 100%;
    max-width: 300px;
    height: 200px;
    display:block;
    border-radius: 2px;
}
.line-break{
    margin: 0px 1px
}
.span-description{
    color: gold;
    font-weight: 300;
}
.span-category{
    color: gold;
    font-weight: 300; 
}
.span-price{
    color: gold;
    font-weight: 300;
}
.selectItem{
    padding: 10px;
    border-radius: 5px;
    margin-left: 150px;
    border: none;
    cursor: pointer;
    outline: 1px white solid;
    transition: all 0.3s;
}
.selectItem:is(:hover){
    outline-offset: 3px;
}

/* mobile version */
@media only screen and (max-width: 600px) {

}