/* styling for products page */

:root{
    --brdColor: rgb(206, 128, 10);
    --btnColor: #B917F2;
}
.productComponent{
    padding: 0px 20px;
}
.products{
    display: flex;
    flex-direction: column;
}
.productImg{
    width: 10em;
    height: 10em;
    border-radius: 10px;
}

/* mobile version */
@media only screen and (max-width: 600px) {

}