/* styling for services */
.serviceComponent{
    padding: 10px;
}
.ourServices{
    color: black;
    margin-bottom: 1em;
    font-size: 2em;
}
.servicesPage{
    padding:10px;
}
.servicesDetails{
    font-size: 22px;
}
.servicesImages{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
}
.servicesDescription{
    font-size: 16px;
    text-align: left;
    padding: 10px 150px 0px 0px;
}
.serviceDescription{
    margin-bottom: 30px;
}
.servicesBtn{
    padding: 10px;
    font-size: 16px;
    background-color: #B917F2;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: #B917F2 1px solid;
    transition: all 0.3s;
}
.servicesBtn:is(:hover){
    outline-offset: 3px;
}
.servicesImg{
    width: 20em;
    height: 10em;
}



@media only screen and (max-width: 600px){
  
}